* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;


    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        gap: 10px;
        text-transform: uppercase;
        vertical-align: middle;

    }


}

header {
    a {
        text-decoration: none;
        color: black;
        position: relative;

        &:hover {
            color: rgba(43, 203, 235, 0.678);

            &::after {
                position: absolute;
                right: 0;
                bottom: -42px;
                content: "";
                height: 4px;
                width: 100%;
                background-color: rgba(43, 203, 235, 0.678);

            }
        }
    }

}

a {
    text-decoration: none;
    color: white;
}




/* MAIN */
.up {
    min-height: 300px;
    background-color: black;
    background-size: cover;
}

.down {
    background-color: rgb(39, 156, 215);
    min-height: 150px;

    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        text-transform: uppercase;
        padding: 70px;
        margin: 0 10px;
        text-align: center;

    }
}

.icon {
    vertical-align: middle;
    padding-right: 5px;
}



h3 {
    color: white;
    font-weight: bold;
}

/* FOOTER */


.row-up {
    background-image: url(/footer-bg.jpg);
    position: relative;
    min-height: 400px;
}

footer {
    a {
        color: grey;

        &:hover {
            color: white;
        }
    }
}


.col {
    display: flex;
    margin-left: 100px;

    img {
        position: absolute;
        right: 80px;
        top: -10px;
    }


    ul {
        margin-top: 20px;
        list-style: none;
        color: white;
        padding-left: 100px;

    }

    li {
        color: grey;

        h4 {
            color: white;
            padding-bottom: 5px;
        }
    }
}

.row-down {
    display: flex;
    justify-content: space-between;
    background-color: rgb(58, 54, 54);
    min-height: 150px;
    align-items: center;

    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        gap: 10px;
        margin-right: 20px;



        h4 {
            color: rgba(74, 200, 225, 0.662);
            font-weight: bold;

        }


    }


}

.button {
    background-color: rgb(46, 41, 41);
    color: white;
    border-color: rgba(92, 147, 234, 0.56);
    padding: 5px;
    margin: 20px 150px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
    padding: 20px;
    color: white;
    text-transform: uppercase;
}

.col-2 {
    width: calc((100% / 12) * 2);
    padding: 1rem;

}

img {
    max-width: 100%;
}

.jumbotron {
    height: 200px;
    background-image: url(/jumbotron.jpg);
    background-size: cover;
}

.button-down {
    display: flex;
    justify-content: center;

    .button-d {
        background-color: rgb(62, 166, 219);
        color: white;
        border: none;
        margin-bottom: 20px;
        padding: 10px 30px;
        font-weight: bold;

        &:hover {
            cursor: pointer;
        }

    }
}