* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.container {
    display: flex;
    justify-content: space-between;
    margin: 20px 150px;



    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        gap: 10px;
        text-transform: uppercase;
    }
}

a {
    text-decoration: none;
    color: white;
}




/* MAIN */
.up {
    min-height: 150px;
    background-color: black;
}

.down {
    background-color: rgb(39, 156, 215);
    min-height: 150px;

    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        text-transform: uppercase;
        padding: 70px;
        margin: 0 10px;
        text-align: center;
    }
}

.icon {
    vertical-align: middle;
    padding-right: 5px;
}

.content {
    margin: 20px 150px;
    padding: 20px;
}

h3 {
    color: white;
    font-weight: bold;
}

/* FOOTER */
footer {
    background-image: url(/footer-bg.jpg);
    min-height: 400px;
    position: relative;
}


.col {
    display: flex;

    img {
        position: absolute;
        right: 70px;
    }


    ul {
        margin-top: 20px;
        list-style: none;
        color: white;
        padding-left: 100px;

    }

    li {
        color: grey;

        h4 {
            color: white;
        }
    }
}